In [6]:
import pandas as pd
import os

In [9]:
#print("Current working directory:", os.getcwd())

In [10]:
df = pd.read_csv('../Data_Extracting/training_data.csv')
df.head()

   sensor1  sensor2  sensor3
0     1060      900     1100
1     1072      900     1100
2     1073      900     1100
3     1072      900     1100
4     1090      900     1100

In [ ]:
X = df.drop(columns= ['sensor2', 'sensor3'])